node_modules/
snippets/
__pycache__/
.config.py
.ipynb_checkpoints/

ipynb/.ipynb_checkpoints/
ipynb/backup_data/
ipynb/backup_data/**
ipynb/training/
ipynb/models/
ipynb/final/

models.zip
final.zip

.gitignore
