node_modules/
snippets/
__pycache__/
.config.py
.ipynb_checkpoints/

ipynb/.ipynb_checkpoints/
ipynb/backup_data/
ipynb/backup_data/**
ipynb/training/
ipynb/dataframe
ipynb/gs_models/
ipynb/models/
ipynb/final/

.gitignore
models.zip
final.zip
