<!-- -- "Child Template" -->
{% extends "base.html" %}

<!-- Model Content -->
{% block title %} SCA | Models {% endblock %}
<!-- Head Content -->
{% block head %} {{ super() }} {% endblock %}

<!-- Child Content -->
{% block content %}
<h1>WebApp models.</h1>
{% endblock %}

<!-- Custom StyleSheet -->
{% block stylesheets %}
<!-- <link rel="stylesheet" href="../../static/css/dashboard.css"> -->
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename= 'css/dashboard.css')}}"> {% endblock %}