<!-- "Parent Template" -->
<!doctype html>
<html lang="en">

<head>
    {% block head %}
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- Embedded stylesheets -->
    {% include './components/styles.html' %}

    <!-- Addition stylesheet goes here -->
    {% block stylesheets %}{% endblock %}

    <title>{% block title %}{% endblock %}</title>
    {% endblock %}
</head>

<body>
    <!-- Include Header -->
    {% include './components/header.html' %}
    <!-- Content goes here -->
    <div class="container-fluid" style="margin-bottom:2rem;">
        <div class="row">
            {% block body %}
            <nav class="col-md-2 d-none d-md-block bg-light sidebar" style="position: fixed;top:55px;">
                <div class="sidebar-sticky">
                    {% include './components/left_bar.html' %}
                </div>
            </nav>
            <main class="col-md-10 ml-sm-auto col-lg-10 pt-3 px-4">
                {% block content %}{% endblock %}
            </main>
            {% endblock %}
        </div>
    </div>
    <!-- Embedded scripts  -->
    {% include './components/scripts.html' %}

    <!-- Include Footer -->
    {% include './components/footer.html' %}
</body>

</html>