<!-- "Parent Template" -->
<!doctype html>
<html lang="en">

<head>
    {% block head %}
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- Embedded stylesheets -->
    {% include './components/styles.html' %}

    <title>{% block title %}{% endblock %}</title>
    {% endblock %}
</head>

<body>
    <!-- Include Header -->
    {% include './components/header.html' %}
    <!-- Content goes here -->
    <div class="container-fluid">
        <div class="row flex-xl-nowrap">
            {% block body %}
            <div class="col-12 col-md-3 col-xl-2 bd-sidebar .bg-primary text-white">
                <nav class="col-md-1 text-white bg-primary d-none d-md-block pt-4 sidebar">
                    {% include './components/left_bar.html' %}
                </nav>
            </div>
            <main class="col-12 col-md-9 ml-sm-auto col-lg-10 pt-3 px-4">
                {% block content %}{% endblock %}
            </main>
            {% endblock %}
        </div>
    </div>
    <!-- Embedded scripts  -->
    {% include './components/scripts.html' %}

    <!-- Include Footer -->
    {% include './components/footer.html' %}
</body>

</html>