<style>
    .m-column{
        margin-top: 1.75rem;
    }
    .m-column li:hover{
        background-color
    }
    .m-column li a{
        display: flex;
        align-items: center;
        vertical-align: middle;
    }
    .m-column li a span{
        margin-left: 0.5rem;
        font-size: 0.75rem;
    }
</style>
<ul class="nav flex-column m-column">
    <li class="nav-item">
        <a href="/sca/" class="nav-link">
            <i class="material-icons">dashboard</i>
            <span>Dashboard</span>
        </a>
    </li>
    <li class="nav-item">
        <a href="/sca/datasets" class="nav-link">
            <i class="material-icons">list</i>
            <span>Datasets</span>
        </a>
    </li>
    <li class="nav-item">
        <a href="/sca/models" class="nav-link">
            <i class="material-icons">opacity</i>
            <span>Models</span>
        </a>
    </li>
    <li class="nav-item">
        <a href="/sca/predictions" class="nav-link">
            <i class="material-icons">timeline</i>
            <span>Predictions</span>
        </a>
    </li>
    <li class="nav-item">
        <a href="/sca" class="nav-link">
            <i class="material-icons">extension</i>
            <span>Extension</span>
        </a>
    </li>
</ul>
<h6 class="sidebar-heading d-flex justify-content-between align-items-center px-3 mt-4 mb-1 text-muted">
    <span>Saved somethings</span>
</h6>